<section class="about">
  <div class="container about__container">
    <div class="about__text">
      <h2 class="about__title">О студии</h2>
      <p class="about__description">В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и нарушающими общечеловеческие нормы этики.</p>
    </div>

    <div class="about__contant">
      <picture class="about__img">
        <source type="image/webp" media="(max-width: 767px)" srcset="./img/320-edit/About-320.webp">
        <source type="image/jpg" media="(max-width: 767px)" srcset="./img/320-edit/About-320.jpg">
        <source type="image/webp" media="(max-width: 1023px)" srcset="./img/768-edit/About-768.webp">
        <source type="image/jpg" media="(max-width: 1023px)" srcset="./img/768-edit/About-768.jpg">
        <source type="image/webp" media="(max-width: 1320px)" srcset="./img/1024-edit/About-1024.webp">
        <source type="image/jpg" media="(max-width: 1320px)" srcset="./img/1024-edit/About-1024.jpg">
        <source type="image/webp" media="(min-width: 1321px)" srcset="./img/1920-edit/About-1920.webp">
        <source type="image/jpg" media="(min-width: 1321px)" srcset="./img/1920-edit/About-1920.jpg">
        <img loading="lazy" src="./img/1920-edit/About-1920.jpg" width="630" height="255" alt="Фотоаппарат">
      </picture>

      <div class="about__action">
        <h3 class="about__subtitle">Подписаться на рассылку</h3>

        <form id="form" class="about__form js-form1" action="https://jsonplaceholder.typicode.com/posts" method="POST" aria-label="Форма отправки почты">
          <label class="about__label">
            <input id="input" type="email" name="E-mail" class="input-reset about__input input-dark js-email1" placeholder="Email">
          </label>

          <button class="btn-reset about__btn btn-fill">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
