<footer class="footer">
  <div class="container footer__container">
    <div class="footer__info">
      <a class="logo footer__logo" href="#">
        <img class="logo__image" src="img/Logo.svg" loading="lazy" width="190" height="30" alt="Логотип">
      </a>

      <span class="footer__logo-description">Фотостудия High pass<span class="superscript">&#174;</span> 2018–2020</span>
    </div>

    <p class="footer__contant">Которая из моих фотографий самая любимая?<br>Та, которую я собираюсь снять завтра.<br>
      &#169; Имоджен Каннингем</p>

    <div class="footer__contact">
      <span class="footer__contact-description">Больше интересного:</span>

      <div class="footer__social-container">
        <a class="footer__link" href="#">
          <svg class="footer__social">
            <use xlink:href="img/sprite.svg#social"></use>
          </svg>
        </a>

        <a class="footer__link" href="#">
          <svg class="footer__social">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
