<section>
  <div class="container projects">
    <h2 class="projects__title">Наши проекты</h2>
    <div class="projects__cards">
      <div class="projects__item-1 projects__card card-small">
        <picture>
          <source type="image/webp" media="(max-width: 767px)" srcset="./img/320-edit/Projects-1-320.webp">
          <source type="image/jpg" media="(max-width: 767px)" srcset="./img/320-edit/Projects-1-320.jpg">
          <source type="image/webp" media="(max-width: 1023px)" srcset="./img/768-edit/Projects-1-768.webp">
          <source type="image/jpg" media="(max-width: 1023px)" srcset="./img/768-edit/Projects-1-768.jpg">
          <source type="image/webp" media="(max-width: 1320px)" srcset="./img/1024-edit/Projects-1-1024.webp">
          <source type="image/jpg" media="(max-width: 1320px)" srcset="./img/1024-edit/Projects-1-1024.jpg">
          <source type="image/webp" media="(min-width: 1321px)" srcset="./img/1920-edit/Projects-1-1920.webp">
          <source type="image/jpg" media="(min-width: 1321px)" srcset="./img/1920-edit/Projects-1-1920.jpg">
          <img loading="lazy" src="./img/1920-edit/Projects-1-1920.jpg" class="projects__image" width="190" height="184" alt="Фото работы 1">
        </picture>

        <p class="projects__text">Синтетически, смешаны с не уникальными данными до степени…</p>

        <span class="projects__date">16 июня</span>
        <span class="projects__hash">#пейзаж</span>
      </div>

      <div class="projects__item-2 projects__card card-small">
        <picture>
          <source type="image/webp" media="(max-width: 767px)" srcset="./img/320-edit/Projects-2-320.webp">
          <source type="image/jpg" media="(max-width: 767px)" srcset="./img/320-edit/Projects-2-320.jpg">
          <source type="image/webp" media="(max-width: 1023px)" srcset="./img/768-edit/Projects-2-768.webp">
          <source type="image/jpg" media="(max-width: 1023px)" srcset="./img/768-edit/Projects-2-768.jpg">
          <source type="image/webp" media="(max-width: 1320px)" srcset="./img/1024-edit/Projects-2-1024.webp">
          <source type="image/jpg" media="(max-width: 1320px)" srcset="./img/1024-edit/Projects-2-1024.jpg">
          <source type="image/webp" media="(min-width: 1321px)" srcset="./img/1920-edit/Projects-2-1920.webp">
          <source type="image/jpg" media="(min-width: 1321px)" srcset="./img/1920-edit/Projects-2-1920.jpg">
          <img loading="lazy" src="./img/1920-edit/Projects-2-1920.jpg" class="projects__image" width="190" height="184" alt="Фото работы 1">
        </picture>

        <p class="projects__text">В своём стремлении улучшить опыт мы упускаем, что явные...</p>

        <span class="projects__date">28 мая</span>
        <span class="projects__hash">#портрет</span>
      </div>

      <div class="projects__item-3 projects__card card-small card-small-middle">
        <picture>
          <source type="image/webp" media="(max-width: 767px)" srcset="./img/320-edit/Projects-3-320.webp">
          <source type="image/jpg" media="(max-width: 767px)" srcset="./img/320-edit/Projects-3-320.jpg">
          <source type="image/webp" media="(max-width: 1023px)" srcset="./img/768-edit/Projects-3-768.webp">
          <source type="image/jpg" media="(max-width: 1023px)" srcset="./img/768-edit/Projects-3-768.jpg">
          <source type="image/webp" media="(max-width: 1320px)" srcset="./img/1024-edit/Projects-3-1024.webp">
          <source type="image/jpg" media="(max-width: 1320px)" srcset="./img/1024-edit/Projects-3-1024.jpg">
          <source type="image/webp" media="(min-width: 1321px)" srcset="./img/1920-edit/Projects-3-1920.webp">
          <source type="image/jpg" media="(min-width: 1321px)" srcset="./img/1920-edit/Projects-3-1920.jpg">
          <img loading="lazy" src="./img/1920-edit/Projects-3-1920.jpg" class="projects__image" width="190" height="184" alt="Фото работы 1">
        </picture>

        <p class="projects__text">Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада</p>

        <span class="projects__date">14 мая</span>
        <span class="projects__hash">#предмет</span>
      </div>

      <div class="projects__item-4 projects__card">
        <article class="card-large">
          <span class="projects__hash">#fuji</span>
          <span class="projects__date">9 апреля</span>

          <h3 class="projects__card-title">Cемантический разбор</h3>

          <p class="projects__subtitle">В рамках спецификации современных стандартов, интерактивные прототипы</p>

          <a href="#" class="btn-empty projects__card-btn">О проекте</a>
        </article>
      </div>

      <div class="projects__item-5 projects__card">
        <article class="card-large">
          <span class="projects__hash">#проектзабвение</span>
          <span class="projects__date">20 марта</span>

          <h3 class="projects__card-title">Забвение</h3>

          <p class="projects__subtitle">Играет важную роль в формировании глубокомысленных рассуждений</p>

          <a href="#" class="btn-empty projects__card-btn">О проекте</a>
        </article>
      </div>

      <div class="projects__item-6 projects__card card-middle">
        <picture>
          <source type="image/webp" media="(max-width: 767px)" srcset="./img/320-edit/Projects-6-320.webp">
          <source type="image/jpg" media="(max-width: 767px)" srcset="./img/320-edit/Projects-6-320.jpg">
          <source type="image/webp" media="(max-width: 1023px)" srcset="./img/768-edit/Projects-6-768.webp">
          <source type="image/jpg" media="(max-width: 1023px)" srcset="./img/768-edit/Projects-6-768.jpg">
          <source type="image/webp" media="(max-width: 1320px)" srcset="./img/1024-edit/Projects-6-1024.webp">
          <source type="image/jpg" media="(max-width: 1320px)" srcset="./img/1024-edit/Projects-6-1024.jpg">
          <source type="image/webp" media="(min-width: 1321px)" srcset="./img/1920-edit/Projects-6-1920.webp">
          <source type="image/jpg" media="(min-width: 1321px)" srcset="./img/1920-edit/Projects-6-1920.jpg">
          <img loading="lazy" src="./img/1920-edit/Projects-6-1920.jpg" class="projects__image" width="300" height="184" alt="Фото работы 1">
        </picture>

        <p class="projects__text">Как принято считать, многие известные личности и по сей день остаются уделом либералов…</p>

        <span class="projects__date">9 марта</span>
        <span class="projects__hash">#ретушь</span>
      </div>

      <div class="projects__item-7 projects__card card-middle">
        <picture>
          <source type="image/webp" media="(max-width: 767px)" srcset="./img/320-edit/Projects-7-320.webp">
          <source type="image/jpg" media="(max-width: 767px)" srcset="./img/320-edit/Projects-7-320.jpg">
          <source type="image/webp" media="(max-width: 1023px)" srcset="./img/768-edit/Projects-7-768.webp">
          <source type="image/jpg" media="(max-width: 1023px)" srcset="./img/768-edit/Projects-7-768.jpg">
          <source type="image/webp" media="(max-width: 1320px)" srcset="./img/1024-edit/Projects-7-1024.webp">
          <source type="image/jpg" media="(max-width: 1320px)" srcset="./img/1024-edit/Projects-7-1024.jpg">
          <source type="image/webp" media="(min-width: 1321px)" srcset="./img/1920-edit/Projects-7-1920.webp">
          <source type="image/jpg" media="(min-width: 1321px)" srcset="./img/1920-edit/Projects-7-1920.jpg">
          <img loading="lazy" src="./img/1920-edit/Projects-7-1920.jpg" class="projects__image" width="300" height="184" alt="Фото работы 1">
        </picture>

        <p class="projects__text">С учётом сложившейся международной обстановки, новая модель организационной…</p>

        <span class="projects__date">1 марта</span>
        <span class="projects__hash">#портрет</span>
      </div>
    </div>
  </div>
</section>
