<section>
  <div class="works">
    <div class="container works__container">
      <article class="card-1">
        <div class="card-1__container">
          <p class="card-1__subtitle">Мастер-класс от Игоря&nbsp;Робова</p>
          <h3 class="card-1__title">Неоновый фотосет&nbsp;2.0<br>7 июля 20:00</h3>
          <a class="btn-fill card-1__btn" href="#">Узнать больше</a>
        </div>
      </article>

      <div class="card-2">
        <h2 class="card-2__title">Работы участников предыдущего мастер-класса</h2>

        <ul class="card-2__list list-reset">
          <li class="card-2__list-item">
            <picture>
              <source type="image/webp" media="(max-width: 380px)" srcset="./img/320-edit/Works-2-320.webp">
              <source type="image/jpg" media="(max-width: 380px)" srcset="./img/320-edit/Works-2-320.jpg">
              <source type="image/webp" media="(max-width: 1023px)" srcset="./img/768-edit/Works-2-768.webp">
              <source type="image/jpg" media="(max-width: 1023px)" srcset="./img/768-edit/Works-2-768.jpg">
              <source type="image/webp" media="(max-width: 1320px)" srcset="./img/1024-edit/Works-2-1024.webp">
              <source type="image/jpg" media="(max-width: 1320px)" srcset="./img/1024-edit/Works-2-1024.jpg">
              <source type="image/webp" media="(min-width: 1321px)" srcset="./img/1920-edit/Works-2-1920.webp">
              <source type="image/jpg" media="(min-width: 1321px)" srcset="./img/1920-edit/Works-2-1920.jpg">
              <img loading="lazy" src="./img/1920-edit/Works-2-1920.jpg" class="card-2__image" width="630" height="300" alt="Фото участника">
            </picture>
          </li>

          <li class="card-2__list-item">
            <picture>
              <source type="image/webp" media="(max-width: 380px)" srcset="./img/320-edit/Works-3-320.webp">
              <source type="image/jpg" media="(max-width: 380px)" srcset="./img/320-edit/Works-3-320.jpg">
              <source type="image/webp" media="(max-width: 1023px)" srcset="./img/768-edit/Works-3-768.webp">
              <source type="image/jpg" media="(max-width: 1023px)" srcset="./img/768-edit/Works-3-768.jpg">
              <source type="image/webp" media="(max-width: 1320px)" srcset="./img/1024-edit/Works-3-1024.webp">
              <source type="image/jpg" media="(max-width: 1320px)" srcset="./img/1024-edit/Works-3-1024.jpg">
              <source type="image/webp" media="(min-width: 1321px)" srcset="./img/1920-edit/Works-3-1920.webp">
              <source type="image/jpg" media="(min-width: 1321px)" srcset="./img/1920-edit/Works-3-1920.jpg">
              <img loading="lazy" src="./img/1920-edit/Works-3-1920.jpg" class="card-2__image" width="300" height="257" alt="Фото участника">
            </picture>
          </li>

          <li class="card-2__list-item">
            <picture>
              <source type="image/webp" media="(max-width: 380px)" srcset="./img/320-edit/Works-4-320.webp">
              <source type="image/jpg" media="(max-width: 380px)" srcset="./img/320-edit/Works-4-320.jpg">
              <source type="image/webp" media="(max-width: 1023px)" srcset="./img/768-edit/Works-4-768.webp">
              <source type="image/jpg" media="(max-width: 1023px)" srcset="./img/768-edit/Works-4-768.jpg">
              <source type="image/webp" media="(max-width: 1320px)" srcset="./img/1024-edit/Works-4-1024.webp">
              <source type="image/jpg" media="(max-width: 1320px)" srcset="./img/1024-edit/Works-4-1024.jpg">
              <source type="image/webp" media="(min-width: 1321px)" srcset="./img/1920-edit/Works-4-1920.webp">
              <source type="image/jpg" media="(min-width: 1321px)" srcset="./img/1920-edit/Works-4-1920.jpg">
              <img loading="lazy" src="./img/1920-edit/Works-4-1920.jpg" class="card-2__image" width="300" height="257" alt="Фото участника">
            </picture>
          </li>
        </ul>
      </div>
      <!-- <div class="works__item card-3"></div>
      <div class="works__item card-4"></div> -->
    </div>
  </div>
</section>
